@charset "utf-8";
/* CSS Document */

#nav {padding:0px; list-style:none; font-family:arial, verdana, sans-serif; margin:0px; font-size:12px; height:42px; font-weight:normal; float:left;}
#nav li.top {display:block; float:left; height:45px;  margin:0px; border:0px solid red; padding:6px 0 0 0;}
#nav li.top:hover {display:block; float:left; height:45px;
 padding:6px 0 0 0;}
#nav li.brdless {display:block; float:left; height:18px; background:none!important;  padding:6px 0 0 0;}
#nav li.brdless:hover {display:block; float:left; height:30px; padding:6px 0 0 0;}
#nav li a.top_link {display:block; float:left; height:15px;  color:#063a83; text-decoration:none; font-size:16px; font-weight:normal; padding:4px 10px; cursor:pointer; margin: 0px;}
#nav li a{ font-weight:normal; padding:0px 0px 0px 0px}
#nav li a.brd {padding:0 0px 0 0px;}
#nav li a.top_link span {float:left; display:block; padding:0; height:20px; }
#nav li a.top_link span.down {float:left; display:block; padding:0; height:20px; }
#nav li:hover a.top_link {color:#063a83; }
#nav li:hover {position:relative; z-index:200;}
#nav li:hover ul.sub {left:0px; top:45px; padding:0px;  white-space:nowrap; width:90px; height:auto; z-index:300; font-weight:normal!important;}
#nav li:hover ul li {padding:4px 0px 0px 0px; border-bottom: solid 1px #ccc;}
#nav li:hover ul.w170 {width:225px;}
#nav li:hover ul.w170 li {width:223px!important;}
#nav li:hover ul.w180 {width:225px;}
#nav li:hover ul.w180 li {width:223px!important;}
#nav li:hover ul.w190 {width:225px;}
#nav li:hover ul.w190 li {width:223px!important;}
#nav li:hover ul.w185 {width:225px;}
#nav li:hover ul.w185 li {width:223px!important;}
#nav li:hover ul.w160 {width:225px;}
#nav li:hover ul.w160 li {width:223px!important;}
#nav li:hover ul.sub li {display:block; padding: 5px 6px; height:auto; position:relative; float:left;  font-weight:normal; }
#nav li ul.sub li {display:block; font-size:12px; width:auto;  text-indent:5px; color:#063a83; text-decoration:none; border-bottom:1px solid #ccc ;}
#nav li ul.sub li a {padding-left:0px;}
#nav li ul.sub li:hover {background:#f5f5f5;color:#fff;}
#nav li ul.sub li a {display:block; font-size:14px; width:auto; padding-right:5px; text-indent:5px; color:#063a83; text-decoration:none;}
#nav li ul.sub li ul li {border-bottom:1px solid #ccc;}
#nav li ul.sub li ul li:hover {border-bottom:1px solid #ccc; color:#063a83;}
#nav li:hover ul.sub ul {margin-left: -2px;}
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:101%; top:0px; background: #f5f5f5; padding:0px; white-space:nowrap; width:90px; z-index:-400; height:auto;}
#nav li:hover li:hover ul.w170 {width:225px !important;}
#nav li:hover li:hover ul.w170 li {width:223px !important; }
#nav li:hover li:hover ul.w180 {width:225px !important;}
#nav li:hover li:hover ul.w180 li {width:223px !important; }
#nav li:hover li:hover ul.w190 {width:225px !important;}
#nav li:hover li:hover ul.w190 li {width:223px !important; }
#nav li:hover li:hover ul.w185 {width:225px !important;}
#nav li:hover li:hover ul.w185 li {width:223px !important; }
#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none; background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}

#tlink #t0  {background:url(../images/AboutBg.jpg) no-repeat right 0px; height:16px;padding:10px 18px; margin:-6px 0 0 0;}
#tlink01 #t01 , #tlink02 #t02 , #tlink03 #t03 , #tlink04 #t04 , #tlink1 #t1 , #tlink2 #t2 , #tlink3 #t3 , #tlink4 #t4 , #tlink5 #t5 , #tlink6 #t6 , #tlink7 #t7 , #tlink8 #t8 , #tlink9 #t9 , #tlink10 #t10 , #tlink1 #t1 {background:#2b6eb8; height:16px; padding:10px 10px; margin:-6px 0 0 0;}

.footer_grpbox input{  border: 1px solid #b5b5b5;
    padding: 1px 5px;
    position: relative;
    top: -5px;
    width: 150px;}
.footer_grpbox button {background: none; cursor: pointer;width: 20px;height: 19px; border: none;}
.fright.top_l2 > a {display: inline-block;float: left;padding: 5px 2px;}


.headTxt {margin:0; padding:0; font-weight:bold;}
select {width: 195px; -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    border: 1px solid #adadad;
    background: #f2f2f2 url(images/group_arrow.png) no-repeat 175px center;height: 20px}
 option {width: 165px; padding-left: 7px;} 


/* Right Menu CSS */


/* Menu Click Animation */
#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4{width:32px;height:20px;position:relative;margin:0 auto;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer}
#nav-icon1 span,#nav-icon3 span,#nav-icon4 span{display:block;position:absolute;height:4px;width:100%;background:#063a83;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
#nav-icon1 span:nth-child(1){top:0}
#nav-icon1 span:nth-child(2){top:8px}
#nav-icon1 span:nth-child(3){top:16px}
#nav-icon1.open span:nth-child(1){top:8px;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg)}
#nav-icon1.open span:nth-child(2){opacity:0;left:20px}
#nav-icon1.open span:nth-child(3){top:8px;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg)}
/* Slide navigation menu */
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 56px;right: 0;background-color: #e8eaeb;overflow-x: hidden;transition: 0.5s;padding-top: 0;z-index: 9999;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #818181;display: block;transition: 0.3s}
.sidenav a:hover, .offcanvas a:focus{color: #f1f1f1;}
.sidenav .closebtn {position: absolute;top: 0;font-size: 16px;padding:8px 8px 8px 30px;background: #1968b3;color: #fff;width: 100%;position: relative;}
.sidenav .closebtn span{position: absolute;right: 29px;top: 5px;font-size: 20px;}
#mobimenu,#mobimenu ul,#mobimenu li,#mobimenu a{margin:0;padding:0;border:0;list-style:none;font-weight:normal;text-decoration:none;line-height:1;font-size:14px;position:relative;}
#mobimenu{width:100%;background:url(images/menu.jpg) repeat-x;margin-top:4px;overflow: auto;}
#mobimenu a{line-height:1.3;}
#mobimenu > ul{background: transparent;padding: 1px 21px 1px 31px;}
#mobimenu > ul > li {border-bottom: 1px solid #7a7a7b;}
#mobimenu > ul > li:hover{background:transparent;}
#mobimenu > ul > li > a{font-size:16px;display:block;background: transparent;color:#0d358d;}
#mobimenu > ul > li > a > span{display:block;padding:8px 0;}
#mobimenu > ul > li > a:hover{text-decoration:none;}
#mobimenu > ul > li.has-sub > a span{background:url(images/up_arrow.png) 97% center no-repeat;color: #0d358d;}
#mobimenu > ul > li.has-sub.active > a span{background:url(images/down_arrow.png) 97% center no-repeat;color: #0d358d;}
#mobimenu ul ul{display:none;background:transparent;border-right:none;}
#mobimenu ul ul li{padding:0;border-top:none;border-bottom: 1px solid #c1c1c1;}
#mobimenu ul ul li:last-child{border-bottom:none;}
#mobimenu ul li ul li a {font-size: 16px;color: #474747;}
#mobimenu ul li ul li ul li a{font-size: 14px;}
#mobimenu ul ul a{padding:6px 10px 6px 25px;display:block;color:#7c7b7b;font-weight:normal;}
#mobimenu ul ul{display:none;}
#mobimenu ul ul li{padding:0;border-bottom:1px solid #c1c1c1;border-top:none;}
#mobimenu ul ul li:last-child{border-bottom:none;}
#mobimenu ul ul a{padding:6px 10px 6px 25px;display:block;color:#7c7b7b;font-weight:normal;}
#mobimenu > ul > li > ul > li.has-sub > a span{padding-left: 10px;font-size: 16px;}
#mobimenu > ul > li > ul > li.has-sub > a span::before{content:url("images/plus.jpg");position:relative;top:0px;color: #474747;right: 10px;}
#mobimenu > ul > li > ul > li.has-sub.active > a span::before{content:url("images/minus.jpg");position:relative;top:0px;;color: #474747;right: 10px;}
#mobimenu ul ul{display:none;}
#mobimenu ul ul ul{margin-left: 15px;}
#mobimenu ul ul li{padding:2px 0;border-top:none;}
#mobimenu ul ul li:last-child{border-bottom:none;}
#mobimenu ul ul a{padding:6px 10px 6px 1px;display:block;color:#7c7b7b;font-size:14px;font-weight:normal;}

@media only screen and (min-width:768px) and (max-width:1080px){
 #nav li a.top_link{ 
  font-size: 14px;
  padding: 4px 5px;
  }
}
